.ax_default {
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._形状 {
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
._图片 {
  color:#000000;
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
._一级标题 {
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.html_button {
  text-align:center;
}
.table_cell {
}
.marker {
  color:#FFFFFF;
}
._水平线 {
}
._连接线 {
}
.snapshot {
}
.sticky_1 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
._垂直线 {
}
._表格 {
}
._单元格 {
}
.box_3 {
}
.icon {
}
.button {
}
._图片1 {
  color:#000000;
}
._图片2 {
  color:#000000;
}
.flow_shape {
}
.paragraph {
  text-align:left;
}
.image {
  color:#000000;
}
.heading_3 {
  font-family:'苹方 中等', '苹方';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._文本段落1 {
  font-size:10px;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.heading_1 {
  font-family:'苹方 中等', '苹方';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._文本框 {
  color:#000000;
  text-align:left;
}
.image1 {
}
._图片3 {
}
.icon1 {
}
.box_21 {
}
._图片4 {
}
.box_22 {
}
.label1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
}
._形状1 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.icon2 {
}
._三级标题1 {
  font-family:'苹方 中等', '苹方';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.box_11 {
}
.line1 {
}
.primary_button1 {
  color:#FFFFFF;
}
